<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      Daftar Produk
    </ion-title>
    <ion-button>
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-toolbar> -->
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button color="danger" (click)="logout()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let data of datas">
    <ion-item>
      <ion-label text-wrap>{{data.produk}}</ion-label>
      <ion-button text-wrap fill="outline" slot="end" (click)="saveTmp(data.id)">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-card-content>
      Harga : Rp {{data.harga | number}}
    </ion-card-content>
  </ion-card>

</ion-content>